[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "submodules/stb"]
	path = submodules/stb
	url = https://github.com/nothings/stb.git
[submodule "submodules/dj_opengl"]
	path = submodules/dj_opengl
	url = https://github.com/jdupuy/dj_opengl.git
[submodule "submodules/dj_algebra"]
	path = submodules/dj_algebra
	url = https://github.com/jdupuy/dj_algebra.git
